[submodule "submodules/tmux-powerline"]
	path = submodules/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "submodules/prezto"]
	path = submodules/prezto
	url = git@github.com:sorin-ionescu/prezto.git
